{% extends "base.html" %}
{% block title %} Отчеты {% endblock %}
{% block in_head %} 
<style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }

    .b-example-divider {
      height: 3rem;
      background-color: rgba(0, 0, 0, .1);
      border: solid rgba(0, 0, 0, .15);
      border-width: 1px 0;
      box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
    }

    .b-example-vr {
      flex-shrink: 0;
      width: 1.5rem;
      height: 100vh;
    }

    .bi {
      vertical-align: -.125em;
      fill: currentColor;
    }

    .nav-scroller {
      position: relative;
      z-index: 2;
      height: 2.75rem;
      overflow-y: hidden;
    }

    .nav-scroller .nav {
      display: flex;
      flex-wrap: nowrap;
      padding-bottom: 1rem;
      margin-top: -1px;
      overflow-x: auto;
      text-align: center;
      white-space: nowrap;
      -webkit-overflow-scrolling: touch;
    }
    .themed-grid-col {
        padding-top: .75rem;
        padding-bottom: .75rem;
        background-color: rgba(86, 61, 124, .15);
        border: 1px solid rgba(86, 61, 124, .2);
      }
      
      .themed-container {
        padding: .75rem;
        margin-bottom: 1.5rem;
        background-color: rgba(0, 123, 255, .15);
        border: 1px solid rgba(0, 123, 255, .2);
      }
      
  </style>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.2.0/dist/css/datepicker.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.2.0/dist/css/datepicker-bs5.min.css">
  {% endblock %}

  {% block content %}
  <br>
  <br>
  <div class="p-5">
    <div class="date"></div>
  </div>
  <div class="p-5">
    <div class="row mb-2 text-center">
      <div class="col-6 themed-grid-col h4"><b>Название</b></div>
      <div class="col-6 themed-grid-col h4"><b>Сумма</b></div>
    </div>

    {% if items %}

    {% for item in items %}

    <div class="row mb-2">
        <div class="col-6 themed-grid-col">{{ item.name }}</div>
        <div class="col-6 themed-grid-col">{{ item.price }} BYN</div>
    </div>

    {% endfor %}

    <div class="row mb-2 text-center">
        <div class="col-6 themed-grid-col h4"><b>Итого: </b></div>
        <div class="col-6 themed-grid-col h4"><b>{{ full_price }} BYN</b></div>
      </div>

    {% endif %}

   

</div>

  {% endblock %}
  {% block after_body %} 
  <script src="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.2.0/dist/js/datepicker.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.2.0/dist/js/locales/ru.js"></script>

  <script>
    const elem = document.querySelector('div[class="date"]');
const datepicker = new Datepicker(elem, {
  buttonClass: 'btn',
  language: 'ru',
  pickLevel : 1,
}); 

var selected_date = getParameterByName('q');

if (selected_date){
  datepicker.setDate(Date.parse(selected_date))
}


function getParameterByName(name, url = window.location.href) {
  name = name.replace(/[\[\]]/g, '\\$&');
  var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
      results = regex.exec(url);
  if (!results) return null;
  if (!results[2]) return '';
  return decodeURIComponent(results[2].replace(/\+/g, ' '));
}

var url = location.protocol + '//' + location.host + location.pathname


elem.addEventListener('changeDate', function () {
  console.log(datepicker.getDate('yyyy-mm'));
  window.location.href = url + '?q='+datepicker.getDate('yyyy-mm')
});
</script>
  {% endblock %}